body{
    margin: 0;
    padding: 0;
}

body p{
    width: 200px;
    background: rgb(64, 224, 208);
    color: black;
    border: 5px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
}