@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

html{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    margin: 50px;
}

body .btn {
    border-radius: 5px;
    border-style: solid;
    border-color: transparent;
    text-decoration: none;
    outline: none;
}

body .btn.btn-green{
    background: #008000;
    color: white;
    padding: 5px;
}

body .btn.btn-yellow{
    background: #ff8c00;
    color: white;
    padding: 5px;
}




