@import url('https://use.fontawesome.com/releases/v5.15.2/css/all.css');

html,
*{
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.section-wrapper{
    max-width: 1400px;
    margin: 0 30px;
}

.header-navigation{
    display: flex;
    justify-content: space-between;
    margin: 15px 30px 20px 30px;
}

.header-logo-wrapper{
    display: flex;
    align-items: center;
}

.header-logo{
    align-self: center;
    padding: 5px 15px 5px 0px;
    border-right: 2px solid #69665A;
    font-size: 26px;
}

.header-sublogo{
    align-self: center;
    padding-left: 15px;
    color: #69665A;
    font-size: 14px;
    font-weight: 300;
}

.header-navigation ul{
    display: flex;
}

.header-navigation ul li{
    list-style: none;
    margin: 0 1px;
    background: #ECECEC;
    padding: 20px;
}
.header-navigation ul li:first-child{
    background: #E24E2A;
}

.header-navigation ul li a{
    text-decoration: none;
    color: black;
}

.header-navigation ul li:first-child a{
    color: white;
}

.header-image-wrapper img{
    width: 100%;
    max-height: 420px;
    object-fit: cover;
}

.content-text{
    display: flex;
    justify-content: center;
    background: #E24E2A;
    margin-top: -5px;
    padding: 70px 0px;
}

.content-text p{
    width: 62%;
    color: #F4C0B3;
    font-size: 14px;
    line-height: 1.6; 
    text-align: center;
}

.content-text a{
    color: #FCEEEA;
}

.content-benefits{
    display: flex;
    background: #383838;
}

.content-benefit{
    margin: 80px 30px;
}

.content-benefit-icon{
    width: fit-content;
    margin: 10px auto;
    background: #E24E2A;
    color: white;
    text-align: center;
    padding: 10px; 
}

.content-benefit-icon i{
    font-size: 70px;
}

.content-benefit-title{
    color: white;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

.content-benefit-text{
    color: grey;
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
}

.content-cta{
    background: white;
    padding: 70px 0px;
    text-align: center;
}

.content-cta-title{
    color: #555555;
    padding: 10px 0;
    font-size: 36px;
    font-weight: lighter;
}

.content-cta-subtitle{
    color: #BEB5AF;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.content-cta-btn{
    background: #1B9772;
    color: white;
    padding: 20px 50px;
    border: none;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 30px;
}

.content-about{
    background: #383838;
    padding: 80px 0;
}

.content-about-wrapper{
    display: flex;
    margin: 0 auto;
}

.content-about-info{
    text-align: center;  
    padding: 0 10px;
}

.content-about-info-title{
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
}

.content-about-info-text{
    color: #686159;
    font-size: 16px;
    line-height: 1.5;
}

.footer{
    background: #1B9772;
}

.footer p{
    color: #BEB5AF;
    padding: 80px 100px ;
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
}

.footer p a{
    text-decoration: none;
    color: white;
}