body{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: rgb(238, 238, 238);
    max-width: 1300px;
    margin: 0 auto;
}

.header-site{
    padding-top: 50px;
}

.header-site::after{
    display: inline-block;
    background: black;
    width: 100%;
    height: 3px;
    content: ' ';
}

.header-site p.site-title{
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    margin: 0;
}

.header-site nav {
    float: right;
}

.header-site ul{
    margin: 0;
}

.header-site nav li{
    display: inline-block;
    list-style: none;
    padding: 0 15px;
}

.header-site nav li a{
    color: #488928;
    text-decoration: none;
}

h1, h2, blockquote{
    font-family: Georgia, serif;
}

main{
    margin-bottom: 50px;
    float: left;
    width: 70%;
}

.image-wrapper-right img{
    float: right;
    margin-left: 15px;
}

.image-wrapper-left img{
    float: left;
    margin-right: 15px;
}

img{
    padding: 10px;
    margin-bottom: 15px;
    border: 4px black solid;
    background: rgb(255, 255, 255);
    box-shadow: -4px 10px 42px 5px rgba(0, 0, 0, 0.25);
}

.second-article blockquote{
    font-style: italic;
    border-left: 4px solid #DDDDDD;
    padding-left: 30px;
    padding-right: 30px;
    float: right;
    width: 33%;
    margin: 0%;
}

.second-article blockquote cite{
    display: block;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 25px;
}

article{
    float: left;
    clear: both;
}

aside{
    float: right;
    width: 20%;
    margin-right: 50px;
}

aside nav ul li a {
    color: #488928;
    text-decoration-line: none;
  }