html{
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
    background: #EBEBEB;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px auto;
    border-bottom: 2px solid black;
}

input{
    display: none;
}

.site-title {
    text-transform: uppercase;
    margin-left: 20px;
    margin-bottom: 0;
}

nav {
    display: flex;
}

.header-menu{
    display: flex;
    background: white;
    padding: 10px;
    border-radius: 8px;
}

.header-menu li{
    list-style: none;
    padding: 10px;
    background: #2D2D2D;
    margin: 10px;
    border-radius: 8px;
}

.header-menu li a{
    text-decoration: none;
    color: white;
}

.menu-toggle{
    display: none;
    text-align: center;
}

.menu-toggle::before{
    content: 'X';
    font-weight: bold;
    margin: 5px;
}

@media all and (max-width: 900px){
    header{
        flex-direction: column;
        align-items: stretch;
        border-bottom: none;
    }

    .site-title{
        text-align: center;
    }

    .menu-toggle{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header-menu {
        width: 100%;
        flex-direction: column;
    }

    .header-menu ul{
        flex-direction: column;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        border-radius: unset;
    }

    .header-menu ul li {
        margin-bottom: 5px;
        margin-top:5px;
        text-align: center;
    }
}