@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.about{
    max-width: 1300px;
    margin: 100px auto;
    display: flex;
}

.about-content{
    margin-right: 40px;
}

.about-content-title{
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
}

.about-content-benefit{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.about-content-benefit-img{
    max-width: 55px;
    margin-right: 15px;
}

.about-content-benefit-img img{
    width: 100%;
}

.about-content-benefit-text{
    margin-left: 16px;
}

.about-content-benefit-text h4{
    margin: 0 0 5px 0;
}

.about-content-benefit-text p{
    margin: 0;
}