
table{
    width: 100%;
    text-align: left;
    border-spacing: 0;
    border: 1px solid #cccccc;
}

table thead{
    background: #cccccc;
}

table thead th{
    border: 1px solid #cccccc;
    padding: 5px;
}

table tbody td{
    border: 1px solid #cccccc;
    padding: 5px;
}

table tbody tr:nth-child(odd) td{
    background: rgb(241, 241, 241); 
}

table tbody tr:hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
