@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;500&display=swap");

body,
* {
  font-family: "Lato", sans-serif;
  margin: 0;
}

section {
  margin: 80px;
}

.module {
  box-shadow: 1px -1px 13px 3px rgba(0, 0, 0, 0.72);
  max-width: 400px;
  border-radius: 12px;
  display: inline-block;
  margin: 20px;
}

.module-prices {
  color: white;
  padding: 22px 0px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.fundamentals .module-prices {
  background: rgb(77, 108, 137);
  background: linear-gradient(
    90deg,
    rgba(77, 108, 137, 1) 0%,
    rgba(87, 131, 172, 1) 35%,
    rgba(97, 154, 207, 1) 100%
  );
}

.professional .module-prices {
  background: rgb(75, 56, 166);
  background: linear-gradient(
    90deg,
    rgba(75, 56, 166, 1) 0%,
    rgba(107, 90, 195, 1) 35%,
    rgba(141, 126, 226, 1) 100%
  );
}

.module-prices h4 {
  font-size: 20px;
  margin-bottom: 5px;
  font-family: "Montserrat", sans-serif;
}

.module-title,
.module-description {
  text-align: center;
  padding: 15px;
  margin: 0;
}

.module-title {
  padding-bottom: 0;
  font-family: "Montserrat", sans-serif;
}

.module-description {
  font-size: 14px;
  margin-bottom: 50px;
}

.module-prices-onsite,
.module-prices-online {
  display: inline-block;
  padding: 0 22px;
  text-align: center;
}

.module-prices-onsite {
  border-right: 1px solid white;
}
