@import url('https://use.fontawesome.com/releases/v5.15.2/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.header{
    background: #41BEAD;
}

.header-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-logo-wrapper{
    max-width: 100px;
    display: flex;
    text-align: center;
}

.header-logo-wrapper{
    width: 100%;
}

.header-menu ul{
    display: flex;
}

.header-menu ul li{
    list-style: none;
    padding: 0 20px;
}

.header-menu ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

.content-info{
    background: #FFB402;
    color: white;
    text-align: center;
    padding: 35px 0;
}

.content-info-title{
    font-size: 26px;
    margin: 0;
    padding: 20px 0;
}

.content-info-text{
    max-width: 500px;
    font-size: 12px;
    margin: 0 auto;
}

.content-teachers-wrapper{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 40px auto;
}

.content-teacher{
    display: flex;
}

.content-teacher:first-child{
    justify-content: flex-start;
}

.content-teacher:last-child{
    justify-content: flex-end;
}

.content-teacher-image{
    height: 130px;
}

.content-teacher-image img{
    width: 130px;
    border-radius: 70px;
    border: 5px solid #41BEAD;
}

.content-teacher-about{
    margin-left: 30px;
    width: 62%;
}

.content-teacher-about-name{
    color: #41BEAD;
}

.content-teacher-about-profession{
    font-size: 12px;
    color: grey;
    font-family: 'Montserrat', sans-serif;
}

.content-teacher-about-info{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.content-teachers-images-wrapper{
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.content-teachers-images{
    padding: 0 50px;
}

.content-teachers-image-wrapper{
    height: 129px;
}

.content-teachers-image-wrapper img{
    width: 130px;
    height: inherit;
    border-radius: 70px;
    border: 5px solid #41BEAD;
    object-fit: cover;
}

.content-teachers-image-name{
    color: #41BEAD;
    text-align: center;
}

.content-teachers-image-profession{
    color: lightgrey;
    font-size: 12px;
    text-align: center;
}

.content-cta-wrapper{
    border-top: 8px solid #92CDFB;
    border-bottom: 8px solid #919191;
    text-align: center;
    background: #66B9F8;
    padding: 10px 0 120px 0;
    color: white;
}

.content-cta-info{
    display: flex;
    font-size: 13px;
    width: 45%;
    margin: 20px auto 35px auto;
}

.content-cta-btn{
    border: none;
    border-radius: 16px;
    background: #FF9100;
    color: white;
    font-weight: bold;
    padding: 11px 22px;
    text-transform: uppercase;
    font-size: 10px;
    box-shadow: 1px 2px 1px 0px rgb(0 0 0 / 30%);
}

input{
    background-color: #66B9F8;
    padding: 10px;
    border: 1px solid white;
    border-radius: 6px;
    margin-right: 15px;
    font-size: 10px;
}

input::placeholder{
    color: white;
}

.footer{
    background: #565656;
}

.footer-content-wrapper{
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0px auto;
}

.footer-content-link{
    padding: 10px 0;
}

.footer-content-title{
    color: white;
}

.footer-content-link ul{
    padding: 0;
}

.footer-content-link ul li{
    list-style: none;
}

.footer-content-link ul li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    color: lightgrey;
}

.footer-content-link ul div{
    display: flex;
}

.footer-content-link ul div i{
    color: white;
    padding-right: 10px;
    font-size: 20px;
}

