html{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body article{
    background: rgb(51, 102, 153);
    color: white;
    border-radius: 1rem; /* =16px */
    padding: 30px;
    margin: 40px;
}

body article h1{
    font-family: Georgia, serif;
    font-weight: 500;
}

