body{
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(238, 238, 238);
}

p.site-title{
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
}

header{
    margin-top: 30px;
    border-bottom: 3px solid;
}

h1, h2, blockquote{
    font-family: Georgia, serif;
}

main{
    margin-bottom: 50px;
}

.image-wrapper-right img{
    float: right;
    margin-left: 15px;
}

.image-wrapper-left img{
    float: left;
    margin-right: 15px;
}

img{
    padding: 10px;
    margin-bottom: 15px;
    border: 4px black solid;
    background: rgb(255, 255, 255);
    box-shadow: -4px 10px 42px 5px rgba(0, 0, 0, 0.25);
}

.second-article blockquote{
    font-style: italic;
    border-left: 4px solid #DDDDDD;
    padding-left: 30px;
    padding-right: 30px;
    float: right;
    width: 33%;
    margin: 0%;
}

.second-article blockquote cite{
    display: block;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 25px;
}